.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #0A243B;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #0A243B;
  transition: color 0.3s;
}

nav a:hover {
  color: #007acc;
}
